/*CSS para impressão*/
@media print {
	div{
		border: 1px solid;
	}
	h6,th,td{
		border: 1px solid;
	}
	#tableLoading{
		display: none;
	}
	#navegacao{
		display: none;
	}
	table{
		border: 1px solid;
	}
}
#tableLoading{
	display: none;
}
#navegacao{
	display: none;
}